[submodule "submodule/ft_printf"]
	path = submodule/ft_printf
	url = git@github.com:vketteni/ft_printf.git
[submodule "submodule/libft"]
	path = submodule/libft
	url = git@github.com:vketteni/libft.git
